*, ::after, ::before {
  box-sizing: border-box; }

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth; } }
body {
  margin: 0;
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent; }

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: .25; }

hr:not([size]) {
  height: 1px; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2; }

h1 {
  font-size: calc(1.375rem + 1.5vw); }

@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem; } }
h2 {
  font-size: calc(1.325rem + .9vw); }

@media (min-width: 1200px) {
  h2 {
    font-size: 2rem; } }
h3 {
  font-size: calc(1.3rem + .6vw); }

@media (min-width: 1200px) {
  h3 {
    font-size: 1.75rem; } }
h4 {
  font-size: calc(1.275rem + .3vw); }

@media (min-width: 1200px) {
  h4 {
    font-size: 1.5rem; } }
h5 {
  font-size: 1.25rem; }

h6 {
  font-size: 1rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

abbr[data-bs-original-title], abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

ol, ul {
  padding-left: 2rem; }

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol, ol ul, ul ol, ul ul {
  margin-bottom: 0; }

dt {
  font-weight: 700; }

dd {
  margin-bottom: .5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

b, strong {
  font-weight: bolder; }

small {
  font-size: .875em; }

mark {
  padding: .2em;
  background-color: #fcf8e3; }

sub, sup {
  position: relative;
  font-size: .75em;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

a {
  color: #0d6efd;
  text-decoration: underline; }

a:hover {
  color: #0a58ca; }

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none; }

code, kbd, pre, samp {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  font-size: 1em;
  direction: ltr;
  unicode-bidi: bidi-override; }

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: .875em; }

pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal; }

code {
  font-size: .875em;
  color: #d63384;
  word-wrap: break-word; }

a > code {
  color: inherit; }

kbd {
  padding: .2rem .4rem;
  font-size: .875em;
  color: #fff;
  background-color: #212529;
  border-radius: .2rem; }

kbd kbd {
  padding: 0;
  font-size: 1em;
  font-weight: 700; }

figure {
  margin: 0 0 1rem; }

img, svg {
  vertical-align: middle; }

table {
  caption-side: bottom;
  border-collapse: collapse; }

caption {
  padding-top: .5rem;
  padding-bottom: .5rem;
  color: #6c757d;
  text-align: left; }

th {
  text-align: inherit;
  text-align: -webkit-match-parent; }

tbody, td, tfoot, th, thead, tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0; }

label {
  display: inline-block; }

button {
  border-radius: 0; }

button:focus:not(:focus-visible) {
  outline: 0; }

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button, select {
  text-transform: none; }

[role=button] {
  cursor: pointer; }

select {
  word-wrap: normal; }

select:disabled {
  opacity: 1; }

[list]::-webkit-calendar-picker-indicator {
  display: none; }

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button; }

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer; }

::-moz-focus-inner {
  padding: 0;
  border-style: none; }

textarea {
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: calc(1.275rem + .3vw);
  line-height: inherit; }

@media (min-width: 1200px) {
  legend {
    font-size: 1.5rem; } }
legend + * {
  clear: left; }

::-webkit-datetime-edit-day-field, ::-webkit-datetime-edit-fields-wrapper, ::-webkit-datetime-edit-hour-field, ::-webkit-datetime-edit-minute, ::-webkit-datetime-edit-month-field, ::-webkit-datetime-edit-text, ::-webkit-datetime-edit-year-field {
  padding: 0; }

::-webkit-inner-spin-button {
  height: auto; }

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: textfield; }

::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-color-swatch-wrapper {
  padding: 0; }

::file-selector-button {
  font: inherit; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

iframe {
  border: 0; }

summary {
  display: list-item;
  cursor: pointer; }

progress {
  vertical-align: baseline; }

[hidden] {
  display: none !important; }

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1170px; } }

@font-face {
  font-family: 'Pobeda';
  src: url("../fonts/Pobeda-Bold.eot");
  src: local("Pobeda Bold"), local("Pobeda-Bold"), url("../fonts/Pobeda-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Pobeda-Bold.woff") format("woff"), url("../fonts/Pobeda-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Pobeda';
  src: url("../fonts/Pobeda-Regular.eot");
  src: local("Pobeda Regular"), local("Pobeda-Regular"), url("../fonts/Pobeda-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Pobeda-Regular.woff") format("woff"), url("../fonts/Pobeda-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Graphik';
  src: url("../fonts/Graphik-Medium.eot");
  src: local("Graphik Medium"), local("Graphik-Medium"), url("../fonts/Graphik-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Graphik-Medium.woff2") format("woff2"), url("../fonts/Graphik-Medium.woff") format("woff"), url("../fonts/Graphik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Graphik';
  src: url("../fonts/Graphik-RegularItalic.eot");
  src: local("Graphik Regular Italic"), local("Graphik-RegularItalic"), url("../fonts/Graphik-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Graphik-RegularItalic.woff2") format("woff2"), url("../fonts/Graphik-RegularItalic.woff") format("woff"), url("../fonts/Graphik-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Graphik';
  src: url("../fonts/Graphik-Bold.eot");
  src: local("Graphik Bold"), local("Graphik-Bold"), url("../fonts/Graphik-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Graphik-Bold.woff2") format("woff2"), url("../fonts/Graphik-Bold.woff") format("woff"), url("../fonts/Graphik-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Graphik';
  src: url("../fonts/Graphik-Regular.eot");
  src: local("Graphik Regular"), local("Graphik-Regular"), url("../fonts/Graphik-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Graphik-Regular.woff2") format("woff2"), url("../fonts/Graphik-Regular.woff") format("woff"), url("../fonts/Graphik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Graphik';
  src: url("../fonts/Graphik-BoldItalic.eot");
  src: local("Graphik Bold Italic"), local("Graphik-BoldItalic"), url("../fonts/Graphik-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Graphik-BoldItalic.woff2") format("woff2"), url("../fonts/Graphik-BoldItalic.woff") format("woff"), url("../fonts/Graphik-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Graphik';
  src: url("../fonts/Graphik-MediumItalic.eot");
  src: local("Graphik Medium Italic"), local("Graphik-MediumItalic"), url("../fonts/Graphik-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Graphik-MediumItalic.woff2") format("woff2"), url("../fonts/Graphik-MediumItalic.woff") format("woff"), url("../fonts/Graphik-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap; }
html {
  font-size: 14px; }

body {
  background: #ffffff;
  font-family: 'Graphik';
  color: #000000;
  font-weight: normal;
  font-style: normal;
  overflow-x: hidden; }

body * {
  outline: none !important; }

b,
strong {
  font-weight: bold; }

a,
svg,
path,
rect,
circle,
button,
span,
::before,
::after {
  transition: 0.5s ease; }

button {
  border-radius: 0;
  -webkit-appearance: none;
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  color: inherit; }

a {
  color: #D80808;
  text-decoration: underline; }
  a:hover {
    color: #D80808;
    text-decoration: none; }

.svg {
  display: none; }

.main {
  padding: 160px 0 0; }
  @media (max-width: 991px) {
    .main {
      padding-top: 90px; } }

h1,
.h1 {
  margin: 0 0 15px !important;
  padding: 0;
  font-family: 'Pobeda';
  font-size: 2.57rem !important;
  font-weight: bold; }
  @media (max-width: 991px) {
    h1,
    .h1 {
      margin-bottom: 10px !important;
      font-size: 2.2rem !important; } }
  h1 span,
  .h1 span {
    color: rgba(0, 0, 0, 0.3);
    margin-left: 10px; }

.plus {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 17px;
  height: 17px;
  top: -3px;
  cursor: pointer; }
  .plus:hover::after, .plus:hover::before {
    background: #D80808; }
  .plus::before, .plus::after {
    content: '';
    width: 17px;
    height: 1px;
    background: #919191;
    position: absolute; }
  .plus::after {
    transform: rotate(90deg); }

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background: #ffffff; }
  .header__container {
    position: relative;
    z-index: 2;
    background: #ffffff; }
  .header._scroll .header__cols {
    height: 50px; }
  .header._scroll .top {
    height: 30px; }
  .header._scroll .header-mobile {
    max-height: calc(100vh - 50px);
    top: 50px; }
  .header._scroll .search._active {
    top: 80px;
    height: calc(100vh - 80px); }
    @media (max-width: 991px) {
      .header._scroll .search._active {
        top: 50px; } }
  .header__cols {
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -15px;
    font-weight: 500;
    position: relative;
    transition: 0.5s ease; }
    @media (max-width: 991px) {
      .header__cols {
        justify-content: space-between; } }
    @media (max-width: 575px) {
      .header__cols {
        margin: 0; } }
    .header__cols::after {
      content: '';
      height: 1px;
      left: 15px;
      right: 15px;
      bottom: 0;
      background: #000000;
      position: absolute; }
      @media (max-width: 575px) {
        .header__cols::after {
          left: 0;
          right: 0; } }
  .header__col {
    width: 50%;
    padding: 0 15px; }
    @media (max-width: 575px) {
      .header__col {
        padding: 0; } }
    .header__col._controls {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      @media (max-width: 991px) {
        .header__col._controls {
          width: calc((100% - 300px) / 2); } }
      @media (max-width: 767px) {
        .header__col._controls {
          width: calc((100% - 250px) / 2); } }
      @media (max-width: 575px) {
        .header__col._controls {
          width: calc((100% - 152px) / 2); } }
    .header__col._mobile {
      display: none; }
      @media (max-width: 991px) {
        .header__col._mobile {
          display: flex; } }
    @media (max-width: 991px) {
      .header__col._logo {
        width: 300px; } }
    @media (max-width: 767px) {
      .header__col._logo {
        width: 250px; } }
    @media (max-width: 575px) {
      .header__col._logo {
        width: 152px; } }
  @media (max-width: 991px) {
    .header__logo svg {
      width: 100%;
      height: auto; } }
  @media (max-width: 575px) {
    .header__logo svg {
      display: none; } }
  .header__logo svg._mobile {
    display: none; }
    @media (max-width: 575px) {
      .header__logo svg._mobile {
        display: block; } }
  .header__nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center; }
    @media (max-width: 991px) {
      .header__nav {
        display: none; } }
    .header__nav li {
      margin-right: 30px; }
      @media (max-width: 1199px) {
        .header__nav li {
          margin-right: 20px; } }
      .header__nav li:last-child {
        margin-right: 0; }
      .header__nav li:hover, .header__nav li._active {
        color: #D80808; }
      .header__nav li a {
        color: inherit;
        text-decoration: none; }
  .header__controls {
    display: flex;
    align-items: center;
    padding-left: 30px; }
    @media (max-width: 575px) {
      .header__controls {
        padding-left: 0; } }
    .header__controls use {
      stroke: #000000; }
    .header__controls button:hover use, .header__controls a:hover use {
      stroke: #D80808; }
  .header__search {
    padding-right: 30px; }
    @media (max-width: 991px) {
      .header__search {
        padding-right: 20px; } }
    @media (max-width: 320px) {
      .header__search {
        padding-right: 5px; } }
  .header__cart {
    position: relative; }
    .header__cart span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      background: #D80808;
      border-radius: 3px;
      font-size: .85rem;
      color: #ffffff;
      position: absolute;
      right: -12px;
      top: -10px; }
  .header__burger {
    width: 24px;
    height: 24px;
    padding: 5px 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative; }
    .header__burger span {
      height: 2px;
      width: 100%;
      background: #000000; }
      .header__burger span:last-child {
        width: 50%; }
    .header__burger._active span {
      position: absolute;
      top: 50%;
      left: 0; }
      .header__burger._active span:first-child {
        transform: rotate(45deg); }
      .header__burger._active span:nth-child(2) {
        transform: rotate(-45deg); }
      .header__burger._active span:last-child {
        display: none; }

.top {
  height: 60px;
  background: #F2F2F2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: .85rem;
  transition: 0.5s ease;
  position: relative;
  z-index: 2; }
  @media (max-width: 991px) {
    .top {
      display: none; } }
  .top__cols {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .top__col:first-child {
    padding-right: 15px; }
  .top__col:last-child {
    padding-left: 15px; }
  .top__nav {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #000000; }
    .top__nav li {
      margin-right: 30px; }
      .top__nav li:last-child {
        margin-right: 0; }
      .top__nav li:hover, .top__nav li._active {
        color: #D80808; }
      .top__nav li a {
        color: inherit;
        text-decoration: none; }
  .top__controls {
    display: flex;
    align-items: center;
    color: #808080; }
    .top__controls a {
      color: inherit;
      text-decoration: none; }
      .top__controls a:hover {
        color: #D80808; }
  .top__phone {
    margin-right: 30px; }
  .top__cabinet {
    display: flex;
    align-items: center; }
    .top__cabinet button {
      display: flex;
      margin-right: 10px;
      line-height: 100%; }
      .top__cabinet button::after {
        content: '';
        width: 1px;
        background: #808080;
        margin-left: 10px;
        height: 11px; }
      .top__cabinet button:last-child {
        margin-right: 0; }
        .top__cabinet button:last-child::after {
          display: none; }
      .top__cabinet button:hover {
        color: #D80808; }

.header-mobile {
  position: fixed;
  top: 70px;
  display: none;
  flex-direction: column;
  justify-content: stretch;
  max-height: calc(100vh - 70px);
  overflow-y: auto;
  transition: 0.5s ease;
  width: 100%; }
  @media (max-width: 991px) {
    .header-mobile {
      display: flex;
      left: -100%; }
      .header-mobile._active {
        left: 0; } }
  .header-mobile::-webkit-scrollbar {
    width: 0;
    height: 0; }
  .header-mobile .container, .header-mobile__content {
    height: 100%;
    display: flex;
    flex-direction: column; }
  .header-mobile__content {
    background: #ffffff;
    width: 85%;
    padding: 20px 20px 0 0; }
    @media (max-width: 320px) {
      .header-mobile__content {
        width: 90%; } }
  .header-mobile__cabinet {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px; }
    .header-mobile__cabinet button {
      height: 47px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(50% - 7.5px);
      background: #F2F2F2;
      color: #AAAAAA;
      font-size: .85rem;
      text-decoration: none;
      text-transform: uppercase; }
  .header-mobile__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    list-style: none; }
    .header-mobile__nav > li {
      font-weight: 500;
      margin-bottom: 15px;
      font-size: 1.28rem; }
      .header-mobile__nav > li:last-child {
        margin-bottom: 0; }
      .header-mobile__nav > li._active {
        color: #D80808; }
        .header-mobile__nav > li._active .plus::after {
          opacity: 0; }
        .header-mobile__nav > li._active .header-mobile__sublist {
          display: flex; }
      .header-mobile__nav > li._parent {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap; }
      .header-mobile__nav > li > a {
        color: inherit;
        text-decoration: none; }
    .header-mobile__nav:first-child {
      padding-bottom: 25px;
      margin-bottom: 25px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
  .header-mobile__sublist {
    width: 100%;
    flex-direction: column;
    margin: 0;
    padding: 10px 0 20px 0;
    list-style: none;
    color: #919191;
    display: none; }
    .header-mobile__sublist li {
      margin-bottom: 8px; }
      .header-mobile__sublist li:last-child {
        margin-bottom: 0; }
      .header-mobile__sublist li._active a {
        color: #D80808; }
      .header-mobile__sublist li a {
        color: inherit;
        text-decoration: none; }
  .header-mobile__phone {
    background: #F2F2F2;
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    margin: 20px -20px 0;
    padding: 15px 20px;
    font-size: 1.71rem;
    color: #808080; }
    .header-mobile__phone a {
      color: inherit;
      text-decoration: none; }
  .header-mobile__messangers {
    padding-top: 10px !important; }

.section {
  padding: 80px 0;
  position: relative; }
  @media (max-width: 991px) {
    .section {
      padding: 50px 0; } }
  .section._pt0 {
    padding-top: 0 !important; }
  .section._pb0 {
    padding-bottom: 0 !important; }
  .section._z2 {
    z-index: 2; }
  .section._z1 {
    z-index: 1; }
  .section._z3 {
    z-index: 3; }
  .section__h2, .section__h3 {
    padding: 0;
    margin: 0 0 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Pobeda'; }
    .section__h2._center, .section__h3._center {
      text-align: center; }
  .section__h2 {
    font-size: 2.57rem; }
    @media (max-width: 991px) {
      .section__h2 {
        font-size: 1.71rem; } }
  .section__h3 {
    font-size: 2.14rem; }

.intro__cols {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 575px) {
    .intro__cols {
      flex-direction: column; } }
.intro__item {
  width: calc(50% - 15px);
  display: flex;
  flex-direction: column; }
  @media (max-width: 575px) {
    .intro__item {
      width: 100%;
      margin-bottom: 30px; }
      .intro__item:last-child {
        margin-bottom: 0; } }
.intro picture {
  display: block;
  overflow: hidden; }
.intro__img {
  max-width: 100%;
  transition: 0.5s ease;
  height: auto; }
  .intro__img:hover {
    transform: scale(1.1); }
.intro__controls {
  padding-top: 30px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between; }
  @media (max-width: 991px) {
    .intro__controls {
      padding-top: 20px; } }
  @media (max-width: 767px) {
    .intro__controls {
      flex-direction: column;
      align-items: flex-start; } }
  @media (max-width: 575px) {
    .intro__controls {
      flex-direction: row;
      align-items: flex-end; } }
.intro__title {
  margin: 0;
  line-height: 90%; }
.intro__nav {
  margin: 0;
  padding: 0 0 0 30px;
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 1.28rem; }
  @media (max-width: 991px) {
    .intro__nav {
      padding-left: 15px;
      font-size: 1rem; } }
  @media (max-width: 767px) {
    .intro__nav {
      padding-left: 0;
      padding-top: 5px; } }
  .intro__nav li {
    margin-right: 30px;
    color: rgba(0, 0, 0, 0.5); }
    @media (max-width: 1199px) {
      .intro__nav li {
        margin-right: 15px; } }
    .intro__nav li:last-child {
      margin-right: 0; }
    .intro__nav li:hover {
      color: #D80808; }
    .intro__nav li a {
      color: inherit;
      text-decoration: none; }

.product {
  display: flex;
  flex-direction: column;
  background: #F2F2F2;
  position: relative;
  padding: 2px;
  transition: 0.5s ease; }
  .product._active {
    z-index: 5; }
  .product:hover {
    background: #e6e6e6; }
    .product:hover .product__hidden {
      transform: translateY(calc(100% - 15px)); }
    .product:hover .product__img {
      transform: scale(1.1); }
  .product__label {
    position: absolute;
    z-index: 3;
    font-family: 'Pobeda';
    font-size: 1.14rem;
    font-weight: bold;
    left: 20px;
    top: 20px; }
  .product picture {
    overflow: hidden;
    display: block; }
  .product__img {
    max-width: 100%;
    position: relative;
    z-index: 2;
    transition: 0.5s ease;
    width: 100%;
    height: auto; }
  .product__content {
    padding: 15px 15px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
    background: inherit;
    text-align: center;
    flex-grow: 1;
    justify-content: space-between; }
    .product__content-col {
      display: flex;
      flex-direction: column;
      align-items: center; }
  .product__title {
    font-size: 1.14rem;
    margin-bottom: 8px;
    text-transform: uppercase;
    color: inherit !important;
    text-decoration: none; }
    .product__title::after {
      content: '';
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      position: absolute; }
  .product__category {
    margin-bottom: 20px; }
  .product__price {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.71rem;
    font-family: 'Pobeda';
    font-weight: bold; }
    @media (max-width: 575px) {
      .product__price {
        font-size: 1.4rem; } }
    .product__price ._oldprice {
      color: rgba(0, 0, 0, 0.3);
      margin-right: 10px; }
  .product__hidden {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    padding: 15px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
    z-index: 1; }
    @media (max-width: 991px) {
      .product__hidden {
        display: none !important; } }
  .product__controls {
    margin: 0 -5px;
    display: flex;
    padding-bottom: 15px; }
  .product__control {
    padding: 0 5px;
    width: 50%;
    height: 47px;
    display: flex; }
  .product__submit {
    background: #000000;
    font-size: .85rem;
    color: #ffffff;
    text-transform: uppercase;
    width: 100%; }
    @media (max-width: 1199px) {
      .product__submit {
        font-size: .7rem; } }
    @media (max-width: 991px) {
      .product__submit {
        font-size: 1rem; } }
    .product__submit:hover {
      background: #D80808; }
  .product__count {
    display: flex;
    border: 1px solid #c4c4c4;
    width: 100%; }
  .product__count-button, .product__count-input {
    width: 33.33%; }
  .product__count-input {
    font-size: 1.14rem;
    background: none;
    border: 0;
    border-radius: 0 !important;
    text-align: center;
    font-family: "Pobeda";
    font-weight: bold; }
  .product__count-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; }
    .product__count-button::before, .product__count-button::after {
      content: '';
      width: 17px;
      height: 1px;
      background: #000000; }
      @media (max-width: 1199px) {
        .product__count-button::before, .product__count-button::after {
          width: 12px; } }
    .product__count-button._minus::after {
      display: none; }
    .product__count-button._plus::after {
      transform: rotate(-90deg); }
    .product__count-button._plus::after, .product__count-button._plus::before {
      position: absolute; }
  .product__param {
    text-align: center;
    color: #a1a1a1; }
    @media (max-width: 1199px) {
      .product__param {
        font-size: .85rem; } }
    @media (max-width: 991px) {
      .product__param {
        font-size: 1rem; } }
  .product__sizes {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -2.5px -5px;
    padding: 8px 0; }
  .product__size {
    width: calc(25% - 5px);
    margin: 0 2.5px 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .85rem;
    text-transform: uppercase;
    height: 24px; }
    @media (max-width: 1199px) {
      .product__size {
        font-size: .65rem; } }
    @media (max-width: 991px) {
      .product__size {
        font-size: .85rem; } }

.carousel {
  overflow-x: hidden;
  overflow-y: visible;
  padding-bottom: 150px;
  margin-bottom: -150px; }
  @media (max-width: 1199px) {
    .carousel {
      padding-bottom: 140px;
      margin-bottom: -140px; } }
  @media (max-width: 991px) {
    .carousel {
      padding-bottom: 0;
      margin-bottom: 0; } }
  @media (max-width: 575px) {
    .carousel {
      margin: 0 -20px;
      padding: 0 20px; } }
  .carousel .tns-ovh {
    overflow: visible; }
  .carousel__init {
    position: relative;
    z-index: 2;
    display: flex; }
  .carousel__controls {
    margin: 30px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1; }
    @media (max-width: 575px) {
      .carousel__controls {
        justify-content: space-between; } }
  .carousel__control {
    min-width: 30px;
    max-width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center; }
    .carousel__control::before {
      content: '';
      width: 10px;
      height: 10px;
      border-bottom: 1px solid #000000;
      border-left: 1px solid #000000;
      transform: rotate(45deg);
      position: relative;
      left: 2px; }
    .carousel__control:hover {
      border-color: #D80808; }
      .carousel__control:hover::before {
        border-color: #D80808; }
    .carousel__control:disabled {
      opacity: .3;
      border-color: #000000; }
      .carousel__control:disabled::before {
        border-color: #000000; }
    .carousel__control._prev {
      order: 1; }
    .carousel__control._next {
      order: 3;
      transform: rotate(180deg); }
  .carousel__navs {
    order: 2;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 270px; }
    @media (max-width: 575px) {
      .carousel__navs {
        min-width: auto;
        padding: 0 15px; } }
  .carousel__nav {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #A5A5A5;
    margin: 0 15px;
    display: none; }
    @media (max-width: 575px) {
      .carousel__nav {
        margin: 0 8px; } }
    .carousel__nav.tns-nav-active {
      width: 8px;
      height: 8px;
      background: #000000; }
    .carousel__nav._show {
      display: inline-block; }
  .carousel .product {
    height: 100%; }

.footer {
  position: relative; }
  .footer__cols {
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
    padding: 35px 0 50px;
    position: relative; }
    @media (max-width: 991px) {
      .footer__cols {
        margin-bottom: -30px;
        padding: 30px 0; } }
    .footer__cols::before {
      content: '';
      left: 15px;
      right: 15px;
      top: 0;
      height: 1px;
      background: #000000;
      position: absolute; }
  .footer__col {
    padding: 0 15px 0 80px;
    width: 25%;
    display: flex;
    flex-direction: column; }
    @media (max-width: 1199px) {
      .footer__col {
        padding-left: 15px; } }
    @media (max-width: 991px) {
      .footer__col {
        width: 50%;
        margin-bottom: 30px; }
        .footer__col._c1 {
          order: 4; }
        .footer__col._c2 {
          order: 1; }
        .footer__col._c3 {
          order: 2; }
        .footer__col._c4 {
          order: 3; } }
    @media (max-width: 575px) {
      .footer__col {
        width: 100%; }
        .footer__col._c2, .footer__col._c3 {
          width: 50%; } }
    .footer__col._column {
      justify-content: space-between; }
    .footer__col:first-child {
      padding-left: 15px; }
  .footer a {
    color: rgba(0, 0, 0, 0.3);
    text-decoration: none; }
    .footer a:hover {
      color: #D80808; }
  .footer__title {
    margin-bottom: 10px; }
  .footer__form {
    width: 80%; }
    @media (max-width: 991px) {
      .footer__form {
        width: 100%; } }
    @media (max-width: 575px) {
      .footer__form {
        margin-bottom: 20px; } }
  .footer__vendor {
    padding-top: 20px; }
  .footer__messangers {
    font-size: 1.14rem;
    display: flex;
    align-items: center;
    padding: 20px 0 0; }
    @media (max-width: 1199px) {
      .footer__messangers {
        font-size: 1rem; } }
    .footer__messangers a {
      margin-right: 15px; }
      .footer__messangers a:last-child {
        margin-right: 0; }
  .footer__items {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column; }
    .footer__items:last-child {
      margin-bottom: 0; }
  .footer__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .footer__links a, .footer__links span {
      margin-bottom: 8px; }
      .footer__links a:last-child, .footer__links span:last-child {
        margin-bottom: 0; }
    .footer__links span {
      color: rgba(0, 0, 0, 0.3); }
  .footer__nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0; }
    .footer__nav li {
      margin-bottom: 10px; }
      .footer__nav li:last-child {
        margin-bottom: 0; }
  .footer__bottom {
    background: #000000;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: .85rem; }
    @media (max-width: 767px) {
      .footer__bottom {
        height: auto;
        padding: 15px; } }
    .footer__bottom a {
      color: inherit;
      text-decoration: none; }
      .footer__bottom a:hover {
        color: #D80808; }
  .footer__bottom-cols {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 767px) {
      .footer__bottom-cols {
        flex-direction: column;
        align-items: center; } }
  @media (max-width: 767px) {
    .footer__copyright {
      margin-bottom: 8px; } }
  .footer__bottom-links {
    display: flex;
    align-items: center; }
    @media (max-width: 575px) {
      .footer__bottom-links {
        flex-direction: column;
        align-items: center; } }
    .footer__bottom-links a {
      margin-right: 30px; }
      @media (max-width: 575px) {
        .footer__bottom-links a {
          margin-right: 0;
          margin-bottom: 8px; }
          .footer__bottom-links a:last-child {
            margin-bottom: 0; } }
      .footer__bottom-links a:last-child {
        margin-right: 0; }

.search {
  position: fixed;
  width: 100%;
  height: calc(100vh - 130px);
  overflow-y: auto;
  transition: 0.5s ease;
  top: -100vh;
  z-index: 1; }
  @media (max-width: 991px) {
    .search {
      height: auto !important; } }
  .search._active {
    top: 130px; }
    @media (max-width: 991px) {
      .search._active {
        top: 70px; } }
  .search::-webkit-scrollbar {
    width: 0;
    height: 0; }
  .search::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1; }
    @media (max-width: 991px) {
      .search::before {
        display: none; } }
  .search__wrap {
    background: #ffffff;
    padding: 20px 0;
    position: relative;
    z-index: 2; }
  .search__form {
    display: flex; }
  .search__input-wrap {
    flex-grow: 1;
    position: relative;
    height: 40px;
    display: flex;
    overflow: hidden; }
  .search__submit {
    white-space: nowrap;
    padding: 0 15px; }
    .search__submit:hover {
      color: #D80808; }
  .search__input {
    width: 100%;
    height: 100%;
    background: #F2F2F2;
    border: 0;
    border-radius: 0 !important;
    padding: 0 40px;
    font-weight: 500; }
    @media (max-width: 991px) {
      .search__input {
        font-size: 1.15rem; } }
    .search__input::-moz-placeholder {
      color: rgba(0, 0, 0, 0.3); }
    .search__input::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.3); }
  .search__lupa {
    position: absolute;
    left: 13px;
    top: calc(50% - 7px);
    width: 14px;
    height: auto; }
    .search__lupa use {
      stroke: rgba(0, 0, 0, 0.3); }
  .search__reset {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #A9A9A9;
    position: absolute;
    top: calc(50% - 8px);
    display: flex;
    align-items: center;
    justify-content: center;
    right: -100px; }
    .search__reset._active {
      right: 12px; }
    .search__reset::before, .search__reset::after {
      content: '';
      width: 8px;
      height: 1px;
      background: #ffffff;
      position: absolute; }
    .search__reset::before {
      transform: rotate(-45deg); }
    .search__reset::after {
      transform: rotate(45deg); }
  .search__cols {
    padding: 40px 0 0;
    margin: 0 -10px;
    display: flex; }
    @media (max-width: 991px) {
      .search__cols {
        display: none; } }
  .search__col {
    padding: 0 10px; }
    .search__col._small {
      width: 25%;
      font-size: .85rem;
      font-weight: 500; }
    .search__col._big {
      width: 75%; }
  .search__title {
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.3);
    margin-bottom: 20px; }
  .search__queries {
    display: flex;
    flex-direction: column; }
  .search__query {
    padding: 15px 0;
    border-bottom: 1px solid #F2F2F2;
    text-align: left; }
    .search__query:last-child {
      border-bottom: 0; }
    .search__query:hover {
      color: #D80808; }
  .search__products {
    margin: 0 -1px;
    display: flex;
    flex-wrap: wrap; }
  .search__product {
    width: calc(33.33% - 2px);
    margin: 0 1px; }

.breadcrumbs {
  padding-bottom: 30px; }
  .breadcrumbs ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: 500; }
    .breadcrumbs ul li {
      margin-right: 10px;
      display: flex;
      align-items: center; }
      .breadcrumbs ul li::after {
        content: '/';
        color: #919191;
        margin-left: 10px; }
      .breadcrumbs ul li:last-child::after {
        display: none; }
      .breadcrumbs ul li a {
        color: #919191;
        text-decoration: none; }
        .breadcrumbs ul li a:hover {
          color: #D80808; }

.catalog__cols {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0 -7.5px; }
.catalog__col {
  padding: 0 7.5px; }
  @media (max-width: 991px) {
    .catalog__col {
      width: 100% !important; } }
  .catalog__col._aside {
    width: 25%; }
  .catalog__col._content {
    width: 75%; }
    @media (max-width: 991px) {
      .catalog__col._content {
        order: -1; } }
.catalog__products {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -7.5px -15px; }
.catalog__product {
  width: calc(33.33% - 15px);
  margin: 0 7.5px 15px;
  /*@media (max-width: 575px) {
  	width: 100%;
  }*/ }
  @media (max-width: 767px) {
    .catalog__product {
      width: calc(50% - 15px); } }
.catalog__top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 15px; }
  @media (max-width: 991px) {
    .catalog__top {
      margin-bottom: 10px; } }
  .catalog__top h1 {
    margin: 0 !important;
    padding: 0 !important; }
.catalog__sorting {
  margin-left: 30px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  position: relative;
  top: -10px; }
  .catalog__sorting:hover {
    color: #D80808; }
    .catalog__sorting:hover .catalog__sorting-icon span {
      background: #D80808; }
  .catalog__sorting-icon {
    display: flex;
    align-items: flex-end;
    margin-left: 15px; }
    .catalog__sorting-icon span {
      width: 2px;
      background: rgba(0, 0, 0, 0.3);
      margin-right: 5px;
      position: relative;
      top: -7px; }
      .catalog__sorting-icon span:first-child {
        height: 6px; }
      .catalog__sorting-icon span:nth-child(2) {
        height: 12px; }
      .catalog__sorting-icon span:last-child {
        height: 18px;
        margin-right: 0; }
.catalog__more {
  padding: 60px 0 0;
  display: flex;
  justify-content: center; }
  @media (max-width: 991px) {
    .catalog__more {
      padding: 30px 0; } }
  .catalog__more button {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.3); }
    .catalog__more button:hover {
      color: #D80808; }
      .catalog__more button:hover use {
        fill: #D80808; }
      .catalog__more button:hover svg {
        transform: rotate(360deg); }
    .catalog__more button svg {
      margin-right: 15px;
      position: relative;
      top: -2px; }
    .catalog__more button use {
      fill: rgba(0, 0, 0, 0.3); }

.aside__item {
  background: #F2F2F2;
  padding: 30px; }
.aside__title {
  color: #919191;
  font-weight: 500;
  margin-bottom: 15px; }
.aside__list {
  margin: 0;
  list-style: none;
  padding: 0; }
  .aside__list > li {
    font-family: 'Pobeda';
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.71rem;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; }
    .aside__list > li:last-child {
      margin-bottom: 0; }
    .aside__list > li._active .aside__sublist {
      display: block; }
    .aside__list > li._active .plus::after {
      opacity: 0; }
    .aside__list > li._active > a {
      color: #D80808; }
    .aside__list > li > a {
      color: inherit;
      text-decoration: none;
      width: calc(100% - 32px); }
      .aside__list > li > a._active, .aside__list > li > a:hover {
        color: #D80808; }
.aside__sublist {
  width: 100%;
  font-size: 1rem;
  margin: 8px 0 0;
  padding: 0;
  list-style: none;
  display: none; }
  .aside__sublist li {
    color: #919191;
    margin-bottom: 5px; }
    .aside__sublist li._active {
      color: #D80808; }
    .aside__sublist li:last-child {
      margin-bottom: 0; }
    .aside__sublist li a {
      color: #919191;
      text-decoration: none; }
      .aside__sublist li a:hover {
        color: #D80808; }

.product-page__cols {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }
  @media (max-width: 991px) {
    .product-page__cols {
      flex-direction: column;
      align-items: stretch; } }
.product-page__gallery {
  width: 59%; }
  @media (max-width: 991px) {
    .product-page__gallery {
      width: 100%;
      margin-bottom: 50px; } }
.product-page__content {
  margin-left: 20px;
  width: calc(41% - 20px);
  display: flex;
  flex-direction: column; }
  @media (max-width: 991px) {
    .product-page__content {
      width: 100%;
      margin-left: 0; } }
.product-page__item {
  background: #F2F2F2;
  padding: 40px;
  margin-bottom: 2px;
  display: flex;
  flex-direction: column; }
  @media (max-width: 575px) {
    .product-page__item {
      margin-left: -20px;
      margin-right: -20px;
      padding: 20px; } }
  .product-page__item:last-child {
    margin-bottom: 0; }
.product-page__top {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  justify-content: space-between; }
.product-page__title {
  font-size: 1.71rem;
  margin-bottom: 15px; }
.product-page__price {
  justify-content: flex-start;
  margin-bottom: 10px; }
  .product-page__price span {
    white-space: nowrap; }
.product-page__size {
  height: 40px; }
.product-page__param {
  margin-bottom: 5px; }
  .product-page__param:last-child {
    margin-bottom: 0; }
.product-page__sizes {
  padding-bottom: 13px; }
.product-page__params {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  position: relative;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.3) 30%, transparent 30%);
  background-size: 4px 4px;
  background-repeat: repeat-x;
  background-position: left 70%; }
  .product-page__params:last-child {
    margin-bottom: 0; }
  .product-page__params span {
    background: #F2F2F2;
    position: relative;
    z-index: 2; }
    .product-page__params span:first-child {
      padding-right: 5px; }
    .product-page__params span:last-child {
      padding-left: 5px; }
.product-page__gallery-wrap {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 991px) {
    .product-page__gallery-wrap {
      flex-direction: column; } }
.product-page__thumbs {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  min-width: 106px;
  max-width: 106px;
  padding-right: 20px; }
  @media (max-width: 991px) {
    .product-page__thumbs {
      flex-direction: row;
      overflow-y: hidden;
      overflow-x: auto;
      max-width: 100%;
      min-width: 100%;
      justify-content: center; } }
  @media (max-width: 575px) {
    .product-page__thumbs {
      justify-content: flex-start; } }
  .product-page__thumbs::-webkit-scrollbar {
    height: 0;
    width: 0; }
.product-page__thumb {
  margin-bottom: 20px;
  border: 2px solid #ffffff; }
  @media (max-width: 991px) {
    .product-page__thumb {
      max-width: 86px;
      min-width: 86px;
      margin-bottom: 0;
      margin-right: 20px; }
      .product-page__thumb:last-child {
        margin-right: 0; } }
  .product-page__thumb.tns-nav-active {
    border: 2px solid #F2F2F2; }
.product-page__img {
  max-width: 100%;
  width: 100%;
  height: auto; }
.product-page__gallery-wrap-init {
  width: calc(100% - 106px);
  position: relative; }
  @media (max-width: 991px) {
    .product-page__gallery-wrap-init {
      order: -1;
      width: 60%;
      margin: 0 auto; } }
  @media (max-width: 767px) {
    .product-page__gallery-wrap-init {
      width: 100%; } }
.product-page__label {
  top: 0; }
  @media (max-width: 991px) {
    .product-page__label {
      left: 0; } }

.cart__row {
  background: #F2F2F2;
  margin-bottom: 2px;
  padding: 2px; }
  @media (max-width: 991px) {
    .cart__row {
      padding: 15px; } }
  @media (max-width: 575px) {
    .cart__row {
      margin-left: -20px;
      margin-right: -20px;
      padding: 20px; } }
.cart__cols {
  margin: 0 -15px;
  display: flex;
  align-items: center; }
  @media (max-width: 991px) {
    .cart__cols {
      flex-wrap: wrap; } }
  .cart__cols._header {
    color: #A1A1A1;
    padding-bottom: 12px; }
    @media (max-width: 1199px) {
      .cart__cols._header {
        font-size: .75rem; } }
    @media (max-width: 991px) {
      .cart__cols._header {
        display: none; } }
.cart__col {
  padding: 0 15px; }
  .cart__col._c1 {
    width: 13%; }
    @media (max-width: 991px) {
      .cart__col._c1 {
        width: 20%; } }
    @media (max-width: 767px) {
      .cart__col._c1 {
        width: 30%; } }
  .cart__col._c2 {
    width: 28%; }
    @media (max-width: 991px) {
      .cart__col._c2 {
        width: 40%; } }
    @media (max-width: 767px) {
      .cart__col._c2 {
        width: 70%; } }
  .cart__col._c3 {
    width: 11%; }
    @media (max-width: 991px) {
      .cart__col._c3 {
        width: 20%; } }
    @media (max-width: 767px) {
      .cart__col._c3 {
        width: 33.33%; } }
    @media (max-width: 575px) {
      .cart__col._c3 {
        width: 50%;
        padding-top: 15px; } }
  .cart__col._c4 {
    width: 11%; }
    @media (max-width: 991px) {
      .cart__col._c4 {
        width: 20%; } }
    @media (max-width: 767px) {
      .cart__col._c4 {
        width: 33.33%; } }
    @media (max-width: 575px) {
      .cart__col._c4 {
        width: 50%;
        padding-top: 15px; } }
  .cart__col._c5 {
    width: 12%; }
    @media (max-width: 991px) {
      .cart__col._c5 {
        width: 20%;
        padding-top: 15px; } }
    @media (max-width: 767px) {
      .cart__col._c5 {
        width: 33.33%; } }
    @media (max-width: 575px) {
      .cart__col._c5 {
        width: 50%; } }
  .cart__col._c6 {
    width: 12%; }
    @media (max-width: 991px) {
      .cart__col._c6 {
        width: 40%; } }
    @media (max-width: 767px) {
      .cart__col._c6 {
        width: 33.33%; } }
    @media (max-width: 575px) {
      .cart__col._c6 {
        width: 50%; } }
  .cart__col._c7 {
    width: 13%; }
    @media (max-width: 991px) {
      .cart__col._c7 {
        width: 40%; } }
    @media (max-width: 767px) {
      .cart__col._c7 {
        width: 33.33%; } }
    @media (max-width: 575px) {
      .cart__col._c7 {
        width: 50%;
        padding-top: 15px; } }
.cart__img {
  max-width: 100%;
  width: 100%;
  height: auto; }
.cart__title {
  font-size: 1.28rem;
  color: inherit;
  text-decoration: none; }
  @media (max-width: 1199px) {
    .cart__title {
      font-size: 1rem; } }
  .cart__title:hover {
    color: #D80808; }
.cart__price {
  font-family: 'Pobeda';
  font-weight: bold;
  font-size: 1.71rem; }
  @media (max-width: 1199px) {
    .cart__price {
      font-size: 1.5rem; } }
  @media (max-width: 991px) {
    .cart__price {
      font-size: 1.71rem; } }
.cart__count {
  height: 47px;
  margin-top: 5px; }
.cart__total {
  padding: 20px 60px 0 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  color: #a1a1a1; }
  @media (max-width: 991px) {
    .cart__total {
      padding-right: 0; } }
  .cart__total .cart__price {
    color: #000000;
    margin-left: 20px;
    position: relative;
    top: 6px; }
    @media (max-width: 1199px) {
      .cart__total .cart__price {
        top: 0; } }
    @media (max-width: 991px) {
      .cart__total .cart__price {
        top: 5px; } }
.cart__mobile-title {
  display: none;
  color: #a1a1a1; }
  @media (max-width: 991px) {
    .cart__mobile-title {
      display: block; } }

.form {
  width: 100%;
  display: flex;
  flex-direction: column; }
  .form._order {
    max-width: 564px; }
  .form__fieldset {
    margin-bottom: 30px; }
  .form__input {
    height: 40px;
    border: 0;
    border-radius: 0 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    width: 100%; }
    @media (max-width: 991px) {
      .form__input {
        font-size: 1.15rem; } }
    .form__input::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.3); }
    .form__input::-moz-placeholder {
      color: rgba(0, 0, 0, 0.3); }
    .form__input.error {
      border-bottom: 1px solid #D80808;
      color: #D80808; }
      .form__input.error::-webkit-input-placeholder {
        color: #D80808; }
      .form__input.error::-moz-placeholder {
        color: #D80808; }
  .form__submit {
    height: 48px;
    background: #000000;
    font-size: .85rem;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 30px; }
    .form__submit:hover {
      background: #D80808; }

.text h2, .text h3, .text h4 {
  font-family: 'Pobeda';
  font-weight: bold;
  margin: 30px 0 10px;
  padding: 0; }
.text h2 {
  font-size: 2rem; }
.text h3 {
  font-size: 1.8rem; }
.text h4 {
  font-size: 1.5rem; }
.text__img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .text__img._mb50 {
    margin-bottom: 50px; }
  @media (max-width: 991px) {
    .text__img {
      margin-bottom: 25px !important; } }

.modal {
  display: none;
  background: #ffffff;
  padding: 60px;
  max-width: 470px;
  width: 100%; }
  @media (max-width: 575px) {
    .modal {
      padding: 30px; } }
  .modal .is-close {
    right: -10px !important; }
    @media (max-width: 575px) {
      .modal .is-close {
        right: 0 !important; } }
  .modal__title {
    font-family: 'Pobeda';
    font-size: 1.71rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px; }
    @media (max-width: 575px) {
      .modal__title {
        margin-bottom: 20px; } }

.columns__cols {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px 50px; }
  .columns__cols:last-child {
    margin-bottom: 0; }
  @media (max-width: 991px) {
    .columns__cols {
      flex-direction: column;
      margin: 0 0 30px; } }
.columns__col {
  width: 50%;
  padding: 0 15px; }
  @media (max-width: 991px) {
    .columns__col {
      width: 100%;
      padding: 0; } }

.contacts__block {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  .contacts__block:last-child {
    margin-bottom: 0; }
.contacts__item {
  margin-bottom: 10px; }
  .contacts__item:last-child {
    margin-bottom: 0; }
  .contacts__item._gray {
    color: rgba(0, 0, 0, 0.3); }
  .contacts__item._link {
    color: #000000;
    text-decoration: none; }
    .contacts__item._link:hover {
      color: #D80808; }
.contacts__cols {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; }
  @media (max-width: 575px) {
    .contacts__cols {
      flex-direction: column; } }
.contacts__col {
  margin-right: 30px; }
  @media (max-width: 575px) {
    .contacts__col {
      margin-right: 0;
      margin-bottom: 25px; } }
  .contacts__col:last-child {
    margin-right: 0;
    margin-bottom: 0; }

/*# sourceMappingURL=style.css.map */
