.breadcrumbs
    .container
        ul
            li
                a(href="index.html") Главная
            li
                a(href="catalog.html") Женское
            li
                a(href="catalog.html") Демисезон
            li Женские ботинки