footer.footer
    .container
        .footer__cols
            .footer__col._c1
                form.footer__form
                    .footer__title Подписаться на новости
                    input.form__input(type="email" name="email" placeholder="Введите email")

                .footer__vendor
                    svg(width="111" height="34" viewBox="0 0 111 34" fill="none" xmlns="http://www.w3.org/2000/svg")
                        use(xlink:href="#svg-vendor")
            .footer__col._c2
                .footer__items
                    .footer__title Каталог
                    nav
                        ul.footer__nav
                            li
                                a(href="catalog.html") Кроссовки
                            li
                                a(href="catalog.html") Классика
                            li
                                a(href="catalog.html") Демисезон

            .footer__col._c3
                .footer__title Компания
                nav
                    ul.footer__nav
                        li
                            a(href="manufacture.html") О производстве
                        li
                            a(href="payment.html") Оплата
                        li
                            a(href="text.html") Доставка

            .footer__col._c4
                .footer__title Контакты

                .footer__links
                    span р. Дагестан, г. Махачкала
                    a(href="tel:") +7 (928) 800 39 04
                    a(href="mailto:") info@obuvsnab.ru

                .footer__messangers
                    a(href="#" target="_blank") whatsapp
                    a(href="#" target="_blank") telegram
                    a(href="#" target="_blank") viber

    .footer__bottom
        .container.footer__bottom-cols
            .footer__copyright © BRANDSHOP, 2022

            .footer__bottom-links
                a(href="text.html") Пользовательское соглашение
                a(href="text.html") Политика о конфиденциальности