section.section.intro._pt0._pb0
    .container.intro__cols
        .intro__item
            picture
                source(type="image/webp" srcset="img/tmp/webp/intro-man@2x.webp 2x, img/tmp/webp/intro-man.webp 1x")
                source(type="image/jpeg" srcset="img/tmp/intro-man@2x.jpg 2x, img/tmp/intro-man.jpg 1x")
                img.intro__img(src="img/tmp/intro-man.jpg" alt="" width="550" height="600")

            .intro__controls
                h2.section__h2.intro__title Мужчинам
                nav
                    ul.intro__nav
                        li
                            a(href="catalog.html") Ботинки
                        li
                            a(href="catalog.html") Кроссовки
                        li
                            a(href="catalog.html") Скидки

        .intro__item
            picture
                source(type="image/webp" srcset="img/tmp/webp/intro-woman@2x.webp 2x, img/tmp/webp/intro-woman.webp 1x")
                source(type="image/jpeg" srcset="img/tmp/intro-woman@2x.jpg 2x, img/tmp/intro-woman.jpg 1x")
                img.intro__img(src="img/tmp/intro-woman.jpg" alt="" width="550" height="600")

            .intro__controls
                h2.section__h2.intro__title Женщинам
                nav
                    ul.intro__nav
                        li
                            a(href="catalog.html") Туфли
                        li
                            a(href="catalog.html") Ботинки
                        li
                            a(href="catalog.html") Скидки