section.section._z1
    .container
        h3.section__h3._center Новые поступления

        .carousel
            .carousel__init
                .carousel__slide
                    .product
                        .product__label – 29%

                        a(href="product.html")
                            picture
                                source(type="image/webp" srcset="img/tmp/webp/product@2x.webp 2x, img/tmp/webp/product.webp 1x")
                                source(type="image/jpeg" srcset="img/tmp/product@2x.jpg 2x, img/tmp/product.jpg 1x")
                                img.product__img(src="img/tmp/product.jpg" alt="" width="256" height="256")

                        .product__content
                            .product__content-col
                                a.product__title(href="product.html") BETSY
                                .product__category Ботинки женские
                            .product__price
                                span._oldprice 6 999 ₽
                                span 4 999 ₽

                        form.product__hidden
                            .product__controls
                                .product__control
                                    .product__count
                                        button.product__count-button._minus(type="button")
                                        input.product__count-input(type="text" name="count" value="1" readonly)
                                        button.product__count-button._plus(type="button")

                                .product__control
                                    button.product__submit(type="submit") В корзину

                            .product__param Кол-во в упак-ке: 8 пар
                            .product__param Размеры в упак-ке:
                            .product__sizes
                                .product__size 39 RU
                                .product__size 40 RU
                                .product__size 41 RU
                                .product__size 41.5 RU
                                .product__size 42 RU
                                .product__size 42.5 RU
                                .product__size 43 RU
                                .product__size 44 RU
                            .product__param Срок производства: от 7 дней


                .carousel__slide
                    .product
                        a(href="product.html")
                            picture
                                source(type="image/webp" srcset="img/tmp/webp/product@2x.webp 2x, img/tmp/webp/product.webp 1x")
                                source(type="image/jpeg" srcset="img/tmp/product@2x.jpg 2x, img/tmp/product.jpg 1x")
                                img.product__img(src="img/tmp/product.jpg" alt="" width="256" height="256")

                        .product__content
                            .product__content-col
                                a.product__title(href="product.html") BETSY
                                .product__category Ботинки женские
                            .product__price
                                span 4 999 ₽

                        form.product__hidden
                            .product__controls
                                .product__control
                                    .product__count
                                        button.product__count-button._minus(type="button")
                                        input.product__count-input(type="text" name="count" value="1" readonly)
                                        button.product__count-button._plus(type="button")

                                .product__control
                                    button.product__submit(type="submit") В корзину

                            .product__param Кол-во в упак-ке: 8 пар
                            .product__param Размеры в упак-ке:
                            .product__sizes
                                .product__size 39 RU
                                .product__size 40 RU
                                .product__size 41 RU
                                .product__size 41.5 RU
                                .product__size 42 RU
                                .product__size 42.5 RU
                                .product__size 43 RU
                                .product__size 44 RU
                            .product__param Срок производства: от 7 дней

                .carousel__slide
                    .product
                        .product__label – 29%

                        a(href="product.html")
                            picture
                                source(type="image/webp" srcset="img/tmp/webp/product@2x.webp 2x, img/tmp/webp/product.webp 1x")
                                source(type="image/jpeg" srcset="img/tmp/product@2x.jpg 2x, img/tmp/product.jpg 1x")
                                img.product__img(src="img/tmp/product.jpg" alt="" width="256" height="256")

                        .product__content
                            .product__content-col
                                a.product__title(href="product.html") BETSY
                                .product__category Ботинки женские
                            .product__price
                                span._oldprice 6 999 ₽
                                span 4 999 ₽

                        form.product__hidden
                            .product__controls
                                .product__control
                                    .product__count
                                        button.product__count-button._minus(type="button")
                                        input.product__count-input(type="text" name="count" value="1" readonly)
                                        button.product__count-button._plus(type="button")

                                .product__control
                                    button.product__submit(type="submit") В корзину

                            .product__param Кол-во в упак-ке: 8 пар
                            .product__param Размеры в упак-ке:
                            .product__sizes
                                .product__size 39 RU
                                .product__size 40 RU
                                .product__size 41 RU
                                .product__size 41.5 RU
                                .product__size 42 RU
                                .product__size 42.5 RU
                                .product__size 43 RU
                                .product__size 44 RU
                            .product__param Срок производства: от 7 дней


                .carousel__slide
                    .product
                        a(href="product.html")
                            picture
                                source(type="image/webp" srcset="img/tmp/webp/product@2x.webp 2x, img/tmp/webp/product.webp 1x")
                                source(type="image/jpeg" srcset="img/tmp/product@2x.jpg 2x, img/tmp/product.jpg 1x")
                                img.product__img(src="img/tmp/product.jpg" alt="" width="256" height="256")

                        .product__content
                            .product__content-col
                                a.product__title(href="product.html") BETSY
                                .product__category Ботинки женские
                            .product__price
                                span 4 999 ₽

                        form.product__hidden
                            .product__controls
                                .product__control
                                    .product__count
                                        button.product__count-button._minus(type="button")
                                        input.product__count-input(type="text" name="count" value="1" readonly)
                                        button.product__count-button._plus(type="button")

                                .product__control
                                    button.product__submit(type="submit") В корзину

                            .product__param Кол-во в упак-ке: 8 пар
                            .product__param Размеры в упак-ке:
                            .product__sizes
                                .product__size 39 RU
                                .product__size 40 RU
                                .product__size 41 RU
                                .product__size 41.5 RU
                                .product__size 42 RU
                                .product__size 42.5 RU
                                .product__size 43 RU
                                .product__size 44 RU
                            .product__param Срок производства: от 7 дней

                .carousel__slide
                    .product
                        .product__label – 29%

                        a(href="product.html")
                            picture
                                source(type="image/webp" srcset="img/tmp/webp/product@2x.webp 2x, img/tmp/webp/product.webp 1x")
                                source(type="image/jpeg" srcset="img/tmp/product@2x.jpg 2x, img/tmp/product.jpg 1x")
                                img.product__img(src="img/tmp/product.jpg" alt="" width="256" height="256")

                        .product__content
                            .product__content-col
                                a.product__title(href="product.html") BETSY
                                .product__category Ботинки женские
                            .product__price
                                span._oldprice 6 999 ₽
                                span 4 999 ₽

                        form.product__hidden
                            .product__controls
                                .product__control
                                    .product__count
                                        button.product__count-button._minus(type="button")
                                        input.product__count-input(type="text" name="count" value="1" readonly)
                                        button.product__count-button._plus(type="button")

                                .product__control
                                    button.product__submit(type="submit") В корзину

                            .product__param Кол-во в упак-ке: 8 пар
                            .product__param Размеры в упак-ке:
                            .product__sizes
                                .product__size 39 RU
                                .product__size 40 RU
                                .product__size 41 RU
                                .product__size 41.5 RU
                                .product__size 42 RU
                                .product__size 42.5 RU
                                .product__size 43 RU
                                .product__size 44 RU
                            .product__param Срок производства: от 7 дней


                .carousel__slide
                    .product
                        a(href="product.html")
                            picture
                                source(type="image/webp" srcset="img/tmp/webp/product@2x.webp 2x, img/tmp/webp/product.webp 1x")
                                source(type="image/jpeg" srcset="img/tmp/product@2x.jpg 2x, img/tmp/product.jpg 1x")
                                img.product__img(src="img/tmp/product.jpg" alt="" width="256" height="256")

                        .product__content
                            .product__content-col
                                a.product__title(href="product.html") BETSY
                                .product__category Ботинки женские
                            .product__price
                                span 4 999 ₽

                        form.product__hidden
                            .product__controls
                                .product__control
                                    .product__count
                                        button.product__count-button._minus(type="button")
                                        input.product__count-input(type="text" name="count" value="1" readonly)
                                        button.product__count-button._plus(type="button")

                                .product__control
                                    button.product__submit(type="submit") В корзину

                            .product__param Кол-во в упак-ке: 8 пар
                            .product__param Размеры в упак-ке:
                            .product__sizes
                                .product__size 39 RU
                                .product__size 40 RU
                                .product__size 41 RU
                                .product__size 41.5 RU
                                .product__size 42 RU
                                .product__size 42.5 RU
                                .product__size 43 RU
                                .product__size 44 RU
                            .product__param Срок производства: от 7 дней

            .carousel__controls
                button.carousel__control._prev(type="button")
                button.carousel__control._next(type="button")

                .carousel__navs
                    button.carousel__nav(type="button")
                    button.carousel__nav(type="button")
                    button.carousel__nav(type="button")
                    button.carousel__nav(type="button")
                    button.carousel__nav(type="button")
                    button.carousel__nav(type="button")