.columns {
	&__cols {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px 50px;

		&:last-child {
			margin-bottom: 0;
		}

		@media (max-width: 991px) {
			flex-direction: column;
			margin: 0 0 30px;
		}
	}

	&__col {
		width: 50%;
		padding: 0 15px;

		@media (max-width: 991px) {
			width: 100%;
			padding: 0;
		}
	}
}